app-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 85dvh;
    padding-top: 20dvh;
    padding-inline: 5%;
}

app-about-me {
    margin-top: 10dvh;
    width: 200%;
    box-shadow: 0px 30px 30px rgba(255, 255, 255, 0.05);
    min-height: 83dvh;
    border-radius: 0 0 70% 30%;
    right: 40%;
    left: -35%;
    padding-right: 80%;
    padding-left: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

