@use '../../../public/assets/styles/all-styles.scss' as all;

app-head {
  padding-top: 20dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 85dvh;
  padding-inline: 5%;
}

app-about-me {
  padding-top: 10dvh;
  width: 200%;
  box-shadow: 0px 30px 30px rgba(255, 255, 255, 0.05);
  border-radius: 0 0 70% 30%;
  right: 40%;
  left: -40%;
  padding-right: 80%;
  padding-left: 45%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  overflow: hidden;
}

app-skills {
  padding-top: 20dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5%;
  width: 100%;
}

app-projects {
  padding-top: 7dvh;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-inline: 5%;
  width: 100%;
}

app-comments {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80dvh;
  padding-top: 10dvh;
  padding-left: 5%;
  gap: 10%;
  max-width: 100%;
}

app-contact {
  padding-top: 10dvh;
  padding-bottom: 15dvh;
  padding-inline: 5%;
  overflow: hidden;
}
