img {
  width: auto;
  height: 100%;
}

nav {
  display: flex;
  align-items: center;
  font-size: 30px;
  gap: 30px;

  div {
    display: flex;
    gap: 24px;
    font-size: 24px;

    button {
      border: 2px solid rgb(112, 230, 28);
      border-radius: 20%;
      padding: 5px;
      &:hover {
        cursor: pointer;
        border-color: rgba(151, 71, 255, 1);
      }
    }

    .chosen {
      background-color: rgb(112, 230, 28);
      &:hover {
        background-color: rgba(151, 71, 255, 1);
      }
    }
  }
}
