@use '../../../public/assets/styles/all-styles.scss' as all;

img {
  width: auto;
  height: 100%;
}

nav {
  display: flex;
  align-items: center;
  gap: 2rem;

  div {
    display: flex;
    gap: 1rem;

    a:hover {
      color: all.$myGreen;
    }

    button {
      border: 2px solid all.$myGreen;
      border-radius: 20%;
      padding: 5px;
      &:hover {
        cursor: pointer;
        border-color: all.$myPurple;
        background-color: all.$myPurple;
      }
    }

    .chosen {
      background-color: all.$myGreen;
    }
  }
}
