#footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 160px;
    height: auto;
  }

  #socials {
    display: flex;
    gap: 12px;
  }
}

#legal-notice {
  margin-left: 8px;
}
