@use '../../../../public/assets/styles/all-styles.scss' as all;

#title {
  display: flex;
  align-items: center;

  h2 {
    font-weight: normal;
    rotate: 270deg;
    margin-top: 0.5rem;
  }

  h3{
  color: all.$myPurple;
  font-weight: normal;
}
}

button {
  @include all.myButton();
}


#socials {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;

  #green-line {
    @include all.sideLine(all.$myGreen);
    position: absolute;
    right: 98%;
  }

  #scroll-down {
    display: flex;
    align-items: center;
    rotate: 90deg;
    gap: 10px;
    top: -32px;
    height: auto;
    width: fit-content;

    img {
      height: 16px;
    }
  }
}
