@use '../../../../public/assets/styles/all-styles.scss' as all;

#title {
  display: flex;
  align-items: center;

  h2 {
    font-size: 88px;
    font-weight: normal;
    rotate: 270deg;
    margin-top: 16px;
  }

  div {
    h1 {
      font-size: 112px;
      font-weight: bold;
    }

    h3 {
      font-size: 56px;
      color: all.$myPurple;
      font-weight: normal;
    }
  }
}

@include all.contactButton();

#socials {
  width: 100%;
  left: -45dvw;
  display: flex;
  justify-content: space-between;

  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;

    div {
      @include  all.sideLine($myColor: all.$myGreen);
    }

    img {
      width: 20px;
      height: auto;
      &:hover {
        cursor: pointer;
      }
    }
  }

  #scroll-down {
    display: flex;
    align-items: center;
    rotate: 90deg;
    gap: 10px;
    top: -50px;
    right: -45dvw;

    img {
      height: 16px;
    }
  }
}
