@use "../../../../public/assets/styles/all-styles.scss" as all;

#title {
  display: flex;

  h2 {
    font-weight: normal;
    rotate: 270deg;
  }

  div {
    h1 {
      font-size: 64px;
      font-weight: bold;
    }

    h3 {
      font-size: 32px;
      color: all.$myPurple;
      font-weight: normal;
    }
  }
}

button {
  background-color: all.$myGreen;
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 8px;
  &:hover {
    cursor: pointer;
    background-color: all.$myPurple;
  }
}

#socials {
  width: 100%;
  left: -5vw;
  display: flex;
  justify-content: space-between;

  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;

    div {
      height: 2px;
      background-color: all.$myGreen;
      width: 100px;
    }

    img {
      width: 20px;
      height: auto;
      &:hover {
        cursor: pointer;
      }
    }
  }

  #scroll-down {
    display: flex;
    align-items: center;
    rotate: 90deg;
    gap: 10px;
    top: -50px;
    right: -80px;
    
    img{
      height: 16px;
    }
  }
}
