@use '../../../../public/assets/styles/all-styles.scss' as all;

#technologies {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  width: 45%;

  div {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    margin-left: 0;
    gap: 8px;
    text-align: center;
    font-weight: 600;
    width: 6rem;
    height: 7rem;

    img {
      // height: 2.7rem;
      width: 2.7rem;
    }
  }
}

article {
  width: 45%;
  height: auto;

  h2 {
    margin-block: 48px;
  }

  #blue-line {
    @include all.sideLine(all.$myBlue);
    position: absolute;
    top: 3.7rem;
    left: 11rem;
  }

  h4 {
    margin-top: 40px;
    margin-bottom: 1rem;

    span {
      color: all.$myPurple;
    }
  }

  a {
    @include all.myButton();
    margin-top: 10%;
  }

  @include all.myH2();
  @include all.myH4();
}
