@use '../../../../public/assets/styles/all-styles.scss' as all;

#technologies {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, 20dvh);
  width: 45%;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    margin-left: 0;
    gap: 8px;
    text-align: center;
    font-weight: 600;
    width: 6rem;
    height: 7rem;

    img {
      height: 2.5rem;
      width: auto;
    }

    #bubble {
      position: absolute;
      bottom: 25%;
      translate: 25% -100%;
      height: 60%;
      width: fit-content;
      padding: 16px 32px;
      border-radius: 20px;
      background-color: whitesmoke;
      flex-direction: column;
      color: black;
      gap: 0;
      opacity: 1;
      visibility: hidden;
      pointer-events: none;

      &.fade-in {
        animation: fadeIn 0.5s forwards;
        visibility: visible;
      }

      &.fade-out {
        animation: fadeOut 0.5s forwards;
        visibility: visible;
      }

      img {
        height: 2rem;
      }

      p {
        font-size: clamp(16px, 0.7rem, 24px);
      }

      &::after {
        content: '';
        position: absolute;
        top: 95%;
        left: 20%;
        border-width: 16px;
        border-style: solid;
        border-color: whitesmoke transparent transparent transparent;
      }
    }
  }
}

article {
  width: 45%;
  height: auto;

  h2 {
    margin-block: 48px;
  }

  #blue-line {
    @include all.sideLine(all.$myBlue);
    position: absolute;
    top: 3.7rem;
    left: 11rem;
  }

  h4 {
    margin-top: 40px;
    margin-bottom: 1rem;

    span {
      color: all.$myPurple;
    }
  }

  a {
    @include all.myButton();
  }

  @include all.myH2();
}
