@use '../../../../public/assets/styles/all-styles.scss' as all;

#technologies {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  width: 45%;

  div {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    margin-left: 0;
    gap: 8px;
    width: 80px;
    text-align: center;
    font-weight: 600;

    img {
      height: 48px;
      width: 48px;
    }
  }
}

article {
  width: 45%;
  overflow: visible;

  #title {
    display: flex;
    align-items: center;
    gap: 20px;

    h2 {
      margin-block: 48px;
    }

    #blue-line {
      @include all.sideLine(all.$myBlue);
      right: -5dvw;
    }
  }

  h4 {
    margin-top: 40px;
    margin-bottom: 24px;

    span {
      color: all.$myPurple;
    }
  }

  button {
    margin-top: 44px;
  }

  @include all.contactButton();
  @include all.myH2();
  @include all.myH4();
}
