@use '../../../../public/assets/styles/all-styles.scss' as all;

.background {
  position: absolute;
  right: 35%;
  bottom: -20%;
  height: 100%;
}

article {
  width: 40dvw;
  margin-bottom: 10%;
  @include all.myH2();

  .info {
    display: flex;
    align-items: start;

    img {
      width: 1.5rem;
      height: 24px;
      margin: 16px;
      margin-top: 20px;
      min-height: 1.8rem;
      min-width: 1.5rem;
    }

    #puzzle {
      height: 1.8rem;
      width: 1.8rem;
      min-height: 1.8rem;
      min-width: 1.8rem;
    }

    p {
      margin-top: 16px;
    }
  }
}

#myself {
  height: auto;
  width: 40%;
}
