@use '../../../../public/assets/styles/all-styles.scss' as all;

article {
  width: 40dvw;
  margin-bottom: 5%;
  z-index: 1;
  @include all.myH2();

  .info {
    display: flex;
    align-items: start;

    img {
      width: 1.5rem;
      height: 24px;
      margin: 16px;
      margin-top: 20px;
      min-height: 1.8rem;
      min-width: 1.5rem;
    }

    #puzzle {
      height: 1.8rem;
      width: 1.8rem;
      min-height: 1.8rem;
      min-width: 1.8rem;
    }

    p {
      margin-top: 16px;
    }
  }
}

#myself {
  display: flex;
  align-items: end;
  height: 80dvh;
  width: 40%;

  .me {
    width: auto;
    height: 100%;
    max-height: 730px;
  }

  .background {
    position: absolute;
    height: 140%;
    max-height: 1000px;
    z-index: 0;
    translate: -25% 25%;
  }
}
