@use '../../../../public/assets/styles/all-styles.scss' as all;

#commentary {
  display: flex;
  align-items: center;
  gap: 40px;

  #comment-frame {
    border: 5px solid all.$myPurple;
    border-radius: 24px;
    flex: 1;
    height: 30dvh;
    padding-inline: 8%;
    padding-block: 4%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    i {
      color: all.$myGreen;
      font-size: 15rem;
      position: absolute;
      top: -120px;
      right: 100%;
    }

    #colleague {
      display: flex;
      align-items: center;
      gap: 16px;

      #blue-line {
        flex: 1;
        height: 3px;
        background-color: all.$myBlue;
      }
    }
  }

  #colleague-picture {
    display: flex;
    align-items: center;

    #portrait {
      width: 30dvh;
      height: 30dvh;
      object-fit: cover;
      object-position: top;
      border: 4px solid all.$myGreen;
      border-radius: 50%;
    }

    #picture-line {
      height: 4px;
      width: 5dvw;
      background-color: all.$myGreen;
    }
  }
}

#arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 224px;
  height: 80px;
  justify-self: center;

  .left {
    rotate: 180deg;
  }

  button {
    display: flex;
    align-items: center;
  }

  .arrow {
    padding: 10px;
    width: 40px;
    height: 40px;

    &:hover {
      border: 2px solid all.$myGreen;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
  }

  #dot1 {
    background-color: all.$myPurple;
  }
  #dot2, #dot3 {
    background-color: all.$myGreen;
  }
}
