app-header {
    display: flex;
    width: 100%;
    height: 10dvh;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background: #141D2F;
    z-index: 999;
}

app-mainpage {
    display: flex;
    flex-direction: column;
    gap: 10dvh;
}