@use '../../public/assets/styles/all-styles.scss' as all;

app-header {
    display: flex;
    width: 100%;
    height: 10dvh;
    padding-inline: 5%;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background: all.$myBackground;
    z-index: 999;
    max-width: 1440px;
}

app-mainpage {
    display: flex;
    flex-direction: column;
    gap: 10dvh;
    max-width: 1440px;
}