<img class="background" src="assets/img/contact-bg.png" alt="" />

<div id="title">
  <h2>{{ 'contact.title' | translate }}</h2>
  <div id="green-line"></div>
</div>

<div id="form-explanation">
  <div id="inducement">
    <div id="blue-line"></div>
    <h4>{{ 'contact.subtitle' | translate }}</h4>
    <p>
      {{ 'contact.why' | translate }}
      <br /><br />
      {{ 'contact.needed' | translate }} <b>{{ 'contact.me' | translate }}</b>
    </p>
  </div>

  <form id="mailing" [formGroup]="mailing" (ngSubmit)="formSubmit()">
    <input
      class="text-input"
      id="name"
      type="text"
      placeholder="{{ 'contact.name' | translate }}"
      formControlName="name"
    />
    <p class="error-msg" [style.visibility]="mailing.get('name')?.touched && !mailing.get('name')?.valid ? 'visible' : 'hidden'">
      {{ 'contact.error_name' | translate }}
    </p>
    <input
      class="text-input"
      id="email"
      type="text"
      placeholder="{{ 'contact.mail' | translate }}"
      formControlName="email"
    />
    <p class="error-msg" [style.visibility]="mailing.get('email')?.touched && !mailing.get('email')?.valid ? 'visible' : 'hidden'">
      {{ 'contact.error_mail' | translate }}
    </p>
    <textarea
      class="text-input"
      id="message"
      type="text"
      placeholder="{{ 'contact.message' | translate }}"
      formControlName="message"
    ></textarea>
    <p
      class="error-msg"
      [style.visibility]="mailing.get('message')?.touched && !mailing.get('message')?.valid ? 'visible' : 'hidden'"
    >
      {{ 'contact.error_message' | translate }}
    </p>
    <button type="button" (click)="toggleCheckbox()" id="checkbox-div">
      @if (!mailing.get('checkbox')?.value) {
        <img src="assets/icons/checkbox.png" alt="checkbox" />
      } @else {
        <img src="assets/icons/checkbox-checked.png" alt="checkbox" />
      }
      <p>
        {{ 'contact.have' | translate }}
        <a routerLink="legals"> {{ 'contact.legals' | translate }} </a>
        {{ 'contact.agree' | translate }}
      </p>
    </button>
      <p class="error-msg" [style.visibility]="mailing.get('checkbox')?.dirty && mailing.get('checkbox')?.invalid ? 'visible' : 'hidden'">
        {{ 'contact.error_agree' | translate }}
      </p>
    @if (!mailing.valid) {
      <div id="send-preview">{{ 'contact.send' | translate }}</div>
      <p class="error-msg mid">Unable to send (yet).</p>
    } @else {
      <button type="submit" id="send-button">{{ 'contact.send' | translate }}</button>
      <p class="error-msg mid">Unable to send (yet).</p>
    }
  </form>
</div>

<button (click)="scrollUp()" id="scroll">
  <img src="assets/icons/scroll-up.png" alt="arrow-up" />
</button>
