@use '../../../../public/assets/styles/all-styles.scss' as all;

.background {
  position: absolute;
  right: 0;
  top: 0%;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  #green-line {
    position: absolute;
    left: calc(50% + 8rem);
    @include all.sideLine(all.$myGreen);
  }

  @include all.myH2();
}

#form-explanation {
  display: flex;
  justify-content: space-between;

  #inducement {
    width: 40%;

    #blue-line {
      position: absolute;
      right: 103%;
      top: 0.7rem;
      @include all.sideLine(all.$myBlue);
    }

    h4 {
      margin-bottom: 24px;
    }
  }

  #mailing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;

    .text-input {
      border: 1px solid all.$myPurple;
      border-radius: 12px;
      background-color: all.$myBackground;
      margin: 8px;
      padding-block: 8px;
      padding-inline: 16px;
      width: 100%;

      &:hover,
      &:focus {
        border-color: all.$myBlue;
        outline: all.$myBlue;
      }
    }

    #message {
      height: 300px;
      border-radius: 12px 12px 0 12px;
      overflow: hidden;
    }

    #checkbox-div {
      display: flex;
      align-items: center;
      text-align: start;
      width: 100%;
      gap: 8px;
      margin-block: 8px;

      &:hover {
        cursor: pointer;

        img {
          border-radius: 50%;
          background-color: rgba(94, 119, 170, 0.548);
        }
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;

        &:hover {
          cursor: pointer;
          background-color: rgba(94, 119, 170, 0.548);
        }
      }

      a {
        color: all.$myPurple;

        &:hover {
          cursor: pointer;
          color: all.$myBlue;
        }
      }
    }

    #send-preview {
      font-size: 1.25rem;
      background-color: rgb(182, 182, 182);
      padding-block: 0.6rem;
      padding-inline: 1.75rem;
      border-radius: 0.5rem;
      margin-top: 16px;

      &:hover {
        cursor: not-allowed;
      }
    }

    #send-button {
      @include all.myButton($bg-color: all.$myGreen, $h-color: all.$myPurple);
      margin-top: 16px;
    }
  }
}

#scroll {
  position: absolute;
  width: 48px;
  height: 48px;
  bottom: 10%;
  right: 5%;

  &:hover {
    cursor: pointer;
    animation: jump 1s infinite;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
