@use '../../../../public/assets/styles/all-styles.scss' as all;

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  #green-line {
    position: absolute;
    left: calc(50% + 8rem);
    @include all.sideLine(all.$myGreen);
  }

  @include all.myH2();
}

#form {
  display: flex;
  justify-content: space-between;

  #inducement {
    width: 40%;

    #blue-line {
      position: absolute;
      right: 103%;
      top: 0.7rem;
      @include all.sideLine(all.$myBlue);
    }

    h4 {
      margin-bottom: 24px;
    }

    @include all.myH4();
  }

  #mailing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;

    .text-input {
      border: 1px solid all.$myPurple;
      border-radius: 12px;
      background-color: all.$myBackground;
      margin: 8px;
      padding-block: 8px;
      padding-inline: 16px;
      width: 100%;

      &:hover {
        border-color: all.$myBlue;
      }
    }

    #message {
      height: 300px;
      border-radius: 12px 12px 0 12px;
      overflow: hidden;
    }

    #checkbox {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-block: 8px;

      input {
        width: 1rem;
        height: 1rem;

        &:hover {
          cursor: pointer;
        }
      }

      a {
        color: all.$myPurple;
      }
    }

    button {
      @include all.myButton($bg-color: rgb(182, 182, 182), $h-color: rgb(182, 182, 182));
    }
  }
}
