html {
  font-family: Poppins, sans-serif;
}

p {
  font-size: clamp(16px, 1rem, 24px);
}

h1 {
  font-size: 5rem;
  font-weight: bold;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.75rem;
}

h4 {
  font-size: 1.5rem;
}

nav {
  font-size: 1.4rem;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Black.ttf');
}
