@keyframes zoom-effect {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 160%;
    content-visibility: visible;
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

@keyframes jump {
  0% {
    bottom: 10%;
  }

  70% {
    bottom: 12%;
  }

  100% {
    bottom: 10%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    translate: 100%;
    display: none;
  }

  100% {
    opacity: 1;
    translate: 0%;
    display: block;
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    translate: 0%;
    display: block;
  }

  100% {
    opacity: 0;
    translate: 100%;
    display: none;
  }
}
