@media (min-width: 1281px) {
  html {
    font-size: 24px;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }

  p {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 10px;
  }

  p {
    font-size: 16px;
  }
}
