@use './variables.scss' as all;

@mixin contactButton() {
  button {
    font-size: 24px;
    background-color: all.$myGreen;
    padding-block: 16px;
    padding-inline: 24px;
    border-radius: 12px;
    margin-bottom: 56px;

    &:hover {
      cursor: pointer;
      background-color: all.$myPurple;
    }
  }
}

@mixin myH2() {
  h2 {
    font-size: 64px;
    margin-block: 48px;
  }
}

@mixin myH4() {
  h4 {
    font-size: 32px;
  }
}

@mixin sideLine($myColor: white) {
  height: 5px;
  width: 50dvw;
  border-radius: 2px;
  background-color: $myColor;
}

@mixin proj-bg() {
  background-position: center;
  background-size: cover;
  background-size: clamp(300px, 40dvw, 640px);

  &:hover {
    background-size: clamp(300px, 40dvw, 640px);
    background-position: top;
    background-repeat: no-repeat;
  }
}
