@use './variables.scss' as variables;

@mixin myButton($bg-color: variables.$myGreen, $h-color: variables.$myPurple) {
    font-size: 1.25rem;
    background-color: $bg-color;
    padding-block: 0.6rem;
    padding-inline: 1.75rem;
    border-radius: 0.5rem;

    &:hover {
      cursor: pointer;
      background-color: $h-color;
    }
}

@mixin myH2() {
  h2 {
    margin-block: 1.5rem;
  }
}

@mixin sideLine($myColor: white) {
  height: 5px;
  width: 50dvw;
  border-radius: 2px;
  background-color: $myColor;
}
