@use './variables.scss' as all;

@mixin myButton($bg-color: all.$myGreen, $h-color: all.$myPurple) {
    font-size: 1.25rem;
    background-color: $bg-color;
    padding-block: 0.6rem;
    padding-inline: 1.75rem;
    border-radius: 0.5rem;

    &:hover {
      cursor: pointer;
      background-color: $h-color;
    }
}

@mixin myH2() {
  h2 {
    margin-block: 1.5rem;
  }
}

@mixin myH4() {
}

@mixin sideLine($myColor: white) {
  height: 5px;
  width: 50dvw;
  border-radius: 2px;
  background-color: $myColor;
}

@mixin proj-bg() {
  background-position: center;
  background-size: cover;
  background-size: clamp(300px, 40dvw, 640px);

  &:hover {
    background-size: clamp(300px, 40dvw, 640px);
    background-position: top;
    background-repeat: no-repeat;
  }
}
