* {
    position: relative;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    border: initial;
    background-color: initial;
}

$myGreen: rgb(112, 230, 28);
$myPurple: rgb(151, 71, 255);
$myBlue: rgb(28, 218, 230);
$myBackground: rgb(20, 29, 47);