* {
    position: relative;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    border: initial;
    background-color: initial;
}