@use '../public/assets/styles/all-styles.scss' as all;

app-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

body {
    background: all.$myBackground;
}