@use '../public/assets/styles/all-styles.scss' as all;

body {
    background: #141D2F;
    color: white;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;

    h2 {
    font-size: 50px;
    }
}