@use '../public/assets/styles/all-styles.scss' as all;

app-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

body {
  background: all.$myBackground;
  overflow-x: hidden;
}

app-mainpage {
  display: flex;
  flex-direction: column;
  gap: 7.5dvh;
  width: 100%;
  overflow: hidden;
  max-width: 1920px;
  //wie soll das hier sein?
}

app-legals {
  max-width: 1920px;
  padding-inline: 5%;
  padding-bottom: 10dvh;
}
