@use '../../../../public/assets/styles/all-styles.scss' as all;

.title {
  display: flex;
  align-items: center;
  gap: 20px;
  left: -45dvw;

  #purple-line {
    @include all.sideLine(all.$myPurple);
  }

  @include all.myH2();
}

#project-list {
  width: 100%;
  height: auto;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, clamp(300px, 40dvw, 640px));
  grid-template-rows: repeat(2, clamp(300px, 40dvw, 640px));

  .frame {
    border-radius: 16px;
    border: 2px solid all.$myGreen;

    .project-buttons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 40%;

      button {
        font-size: 20px;
        padding-block: 10px;
        padding-inline: 24px;
        border-radius: 12px;

        &:hover {
          cursor: pointer;
        }

        &.github-button {
          border: 2px solid all.$myBlue;

          &:hover{
            background-color: all.$myBlue;
          }
        }

        &.test-button {
          background-color: all.$myPurple;

          &:hover{
            background-color: all.$myGreen;
          }
        }
      }
    }

    .description {
      height: 60%;
      border-radius: 24px 24px 14px 14px;
      text-align: center;
      background-color: white;
      padding: clamp(16px, 10%, 32px);

      h4 {
        color: all.$myPurple;

      }

      p {
        color: black;
        font-size: 20px;
        margin-block: clamp(8px, 5%, 16px);
      }

      .used-technologies {
        color: all.$myGreen;
      }
    }
  }

  @include all.myH4();
}