@use '../../../../public/assets/styles/all-styles.scss' as all;

#purple-line {
  @include all.sideLine(all.$myPurple);
  position: absolute;
  top: calc(15dvh + 3.8rem);
  right: 97%;
}

@include all.myH2();

#project-intro {
  width: clamp(290px, 40%, 600px);
  margin-bottom: 24px;
}

#project-list {
  width: 100%;
  height: auto;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, clamp(300px, 40dvw, 640px));
  grid-template-rows: repeat(auto, clamp(300px, 40dvw, 640px));

  .frame {
    border-radius: 16px;
    border: 2px solid all.$myGreen;
    width: clamp(300px, 40dvw, 640px);
    height: clamp(300px, 40dvw, 640px);

    .project-buttons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 40%;

      .github-link {
        border: 2px solid all.$myBlue;
        @include all.myButton($bg-color: none, $h-color: all.$myBlue);
      }

      .test-link {
        @include all.myButton($bg-color: all.$myPurple, $h-color: all.$myGreen);
      }
    }

    .description {
      height: 60%;
      border-radius: 24px 24px 14px 14px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      background-color: white;
      padding: clamp(16px, 10%, 32px);

      h4 {
        color: all.$myPurple;
      }

      p {
        color: black;
        margin-block: clamp(8px, 5%, 16px);
      }

      .used-technologies {
        color: all.$myGreen;
      }
    }
  }
   // ./assets/... und assets/... funktionieren nicht

  #pollo-loco {
    background-image: url('/assets/img/PolloLoco.png');
    @include all.proj-bg();

    &:hover {
      background-image: url('/assets/img/startscreen_1.png');
    }
  }

  #join {
    background-image: url('/assets/img/join-laptop.png');
    @include all.proj-bg();

    &:hover {
      background-image: url('/assets/img/join.png');
    }
  }

  @include all.myH4();
}
